name: native_preview_host
description: Native preview host plugin for embedding external windows in Conduit.
version: 0.0.1
publish_to: "none"

environment:
  sdk: ^3.10.3
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter

flutter:
  plugin:
    platforms:
      windows:
        pluginClass: NativePreviewHostPlugin
